.inputs-div {
    display: flex;
    flex-direction: column;
}

.input-div {
    display: flex;
    flex-direction: column;
}

.value-display {
    margin: 0;
}


.submit-button, .edit-button {
    width: 100%;
    border: 1px black solid;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
    cursor: pointer;
}